---
layout:  page
title:   Categories
excerpt: "Keeps taps on what the DataFox engineering team does to build the best CRM orchestration platform"
hero:
    bg:  tags
---

<div class="tags-expo">
    <div class="tags-expo-list">
        {% for tag in site.categories %}
        <a href="#{{ tag[0] | slugify }}" class="post-tag mrm mbm nowrap"><i class="fa fa-tag"></i> {{ tag[0] }}</a>
        {% endfor %}
    </div>
    <hr/>
    <div class="tags-expo-section">
        {% for tag in site.categories %}
        <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
        <ul class="tags-expo-posts list-none">
            {% for post in tag[1] %}
            <li>
                <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }} &middot; <small class="post-date">[{{ post.date | date: "%b %-d, %Y" }}]</small>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>