---
layout: default
title:  Home
---

<div class="home">

  <ul class="posts">

    {% for post in site.posts %}
      <li>
        <span class="post-date nowrap mrm">
          <span class="fa fa-calendar mrs"></span>
          <span class="mrm">{{ post.date | date: "%b %-d, %Y" }}</span>
          {% if post.categories %}
            <span class="post_categories nowrap mrm">
              <span class="fa fa-tag mrs"></span> <a href="{{ '/categories/#' | prepend: site.baseurl | prepend: site.url | append: post.categories[0] }}">{{ post.categories }}</a>
            </span>
          {% endif %}
        </span>
        <a class="post-link mbm" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span>
          {{ post.excerpt | strip_html | normalize_whitespace | truncate: 250 | escape }}
        </span>
        <a class="post-readmore mts" href="{{ post.url | prepend: site.baseurl }}">Read more <i class="mls fa fa-angle-right"></i></a>
      </li>
    {% endfor %}
  </ul>

</div>
