<!-- Footer -->
<footer class="base-footer">
  <div class="container container-footer">
    <div class="row">
      <div class="col-md-3">
        <p>
          <a href="https://www.datafox.com/"><img class="footer__logo" src="{{ '/assets/images/datafox-logo-white.png' | prepend: site.baseurl | prepend: site.url }}" alt="DataFox Logo"></a>
        </p>

        <address>
          324 5th Street <br> San Francisco, CA 94107 <br>
          <a href="tel:1-415-969-2142">(415) 969-2144</a><br>
          <a href="mailto:info@datafox.com">info@datafox.com</a>
        </address>

        <ul class="list-unstyled no-list-style list-inline list-socials">
          <li class="social-link social-twitter"><a href="https://www.twitter.com/" rel="me" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="social-link social-linkedin"><a href="https://www.linkedin.com/" rel="me" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>

      </div>

      <div class="col-sm-6 col-md-2 col-md-offset-1">
        <span class="title">DataFox</span>
        <ul class="list-unstyled">
          <li><a class="footer_link" href="https://www.datafox.com/product">Product</a></li>
          <li><a class="footer_link" href="https://www.datafox.com/who-benefits">Use Cases</a></li>
          <li><a class="footer_link" href="https://www.datafox.com/customers">Customers</a></li>
          <li><a class="footer_link" href="https://www.datafox.com/company">Company</a></li>
          <li><a class="footer_link" href="http://eng.datafox.com/">Engineering Blog</a></li>

        </ul>
      </div>

      <div class="col-sm-6 col-md-2">
        <span class="title">Learn More</span>
        <ul class="list-unstyled">
          <li><a class="footer_link" href="http://blog.datafox.com/">Blog</a></li>
          <li><a class="footer_link" href="https://www.datafox.com/company/resources/">Resources</a></li>
          <li><a class="footer_link" href="https://www.meetup.com/Sales-Optimization/" rel="nofollow" target="_blank">Sales Operations Meetup</a></li>
          <li><a class="footer_link" href="http://www.conferenceexplorer.com/" target="_blank">Conference Directory</a></li>
        </ul>
      </div>
      <div class="clear-md"></div>
      <div class="col-sm-6 col-md-2">
        <span class="title">Integrations</span>
        <ul class="list-unstyled">
          <li><a class="footer_link" href="https://www.datafox.com/integrations/salesforce/">Salesforce</a></li>
          <li><a class="footer_link" href="https://www.datafox.com/integrations/slack/">Slack</a></li>
          <li><a class="footer_link" href="https://www.datafox.com/integrations/chrome/">Chrome</a></li>
          <li><a class="footer_link" href="https://www.datafox.com/integrations/api/">API</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-2">
        <span class="title">Support</span>
        <ul class="list-unstyled">
          <li><a class="footer_link" href="mailto:info@datafox.com">Email Us</a></li>
          <li><a class="footer_link" href="http://support.datafox.com/">Help Center</a></li>
          <li><a class="footer_link" href="https://www.datafox.com/privacy-policy">Privacy Policy</a></li>
          <li><a class="footer_link" href="https://www.datafox.com/terms-of-service">Terms of Service</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->