<!-- Footer -->
<footer class="base-footer">
  <div class="container container-footer">
    <div class="row">
      <div class="col-md-3">
        <p>
          <a href="https://www.datafox.com/" title="DataFox"><img class="footer__logo" src="{{ '/assets/images/datafox-logo-white.png' | prepend: site.baseurl | prepend: site.url }}" alt="DataFox Logo"></a>
        </p>
        <p>
          <a href="tel:1-415-969-2142">(415) 969-2144</a>
          <br>
          <a href="mailto:info@datafox.com">info@datafox.com</a>
        </p>

      </div>

      <div class="col-md-1"></div>


      {% for nav in site.footer %}

      {% assign is_relative = nav[1][0] | slice: 0 %}
      {% assign url = nav[1][0] %}

      {% if is_relative == '/' %}
      {% assign url = nav[1][0] | prepend: site.baseurl %}
      {% endif %}

      {% assign sub_len = nav[1] | size | minus: 1 %}

      <div class="col-sm-6 col-md-2">
        <span class="title">{{ nav[0] }}</span>

        <ul class="list-unstyled">
          {% for i in (1..sub_len) %}

          {% for sub_nav in nav[1][i] %}
          {% assign sub_is_relative = sub_nav[1] | slice: 0 %}
          {% assign sub_url = sub_nav[1] %}
          {% if sub_is_relative == '/' %}
          {% assign sub_url = sub_nav[1] | prepend: site.baseurl %}
          {% endif %}
          <li>
            <a {% if sub_url contains '://' %}{% unless sub_url contains 'datafox.com' %}rel="me" target="_blank"{% endunless %}{% endif %} class="footer_link" href="{{ sub_url }}">
            {{ sub_nav[0] }}
            </a>
          </li>
          {% endfor %}

          {% endfor %}

        </ul>

      </div>

      {% endfor %}

    </div>
    <div class="row"><div class="col-md-12"><hr></div></div>
    <div class="row">
      <div class="col-sm-6">
        <p class="smaller">&copy; 2013 - {{ site.time | date: '%Y' }}&nbsp;&nbsp;<a href="https://www.datafox.com/">DataFox Inc.</a>&nbsp;All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->