<!-- Footer -->
<footer class="base-footer">
  <div class="container container-footer">
    <div class="row">
      <div class="col-md-3">
        <p>
          <a href="https://www.datafox.com/" title="DataFox"><img class="footer__logo" src="{{ '/assets/images/datafox-logo-white.png' | prepend: site.baseurl | prepend: site.url }}" alt="DataFox Logo"></a>
        </p>

        <address>
          324 5th Street <br> San Francisco, CA 94107 <br>
          <a href="tel:1-415-969-2142">(415) 969-2144</a><br>
          <a href="mailto:info@datafox.com">info@datafox.com</a>
        </address>

        <ul class="list-unstyled no-list-style list-inline list-socials">
          <li class="social-link social-rss mrm"><a title="Subscribe via RSS" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
          <li class="social-link social-twitter mrm"><a href="https://www.twitter.com/{{ site.twitter.username }}" rel="me" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="social-link social-linkedin mrm"><a href="https://www.linkedin.com/company/{{ site.linkedin }}" rel="me" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>

      </div>

      <div class="col-md-1"></div>


      {% for nav in site.footer %}

      {% assign is_relative = nav[1][0] | slice: 0 %}
      {% assign url = nav[1][0] %}

      {% if is_relative == '/' %}
      {% assign url = nav[1][0] | prepend: site.baseurl %}
      {% endif %}

      {% assign sub_len = nav[1] | size | minus: 1 %}

      <div class="col-sm-6 col-md-2">
        <span class="title">{{ nav[0] }}</span>

        <ul class="list-unstyled">
          {% for i in (1..sub_len) %}

          {% for sub_nav in nav[1][i] %}
          {% assign sub_is_relative = sub_nav[1] | slice: 0 %}
          {% assign sub_url = sub_nav[1] %}
          {% if sub_is_relative == '/' %}
          {% assign sub_url = sub_nav[1] | prepend: site.baseurl %}
          {% endif %}
          <li>
            <a {% if sub_url contains '://' %}{% unless sub_url contains 'datafox.com' %}rel="nofollow" target="_blank"{% endunless %}{% endif %} class="footer_link" href="{{ sub_url }}">
            {{ sub_nav[0] }}
            </a>
          </li>
          {% endfor %}

          {% endfor %}

        </ul>

      </div>

      {% endfor %}

    </div>
  </div>
</footer>
<!-- /Footer -->