<!-- Scripts -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.min.js"></script>
<!-- /Scripts -->

<script type="text/javascript">
    var int_jQuery = setInterval(function () {
        if (window.jQuery) {
            clearInterval(int_jQuery);

            jQuery(document).ready(function($) {
                $(document).mouseup(function(e) {
                    var trigger = $("#menu-toggle, span.icon-bar"),
                        container = $("#mobile-menu-wrapper");

                    /* if the target of the click isn't the container nor a descendant of the container */
                    if ( trigger.is(e.target) || $('body').hasClass('navbar-active') && !trigger.is(e.target) && !container.is(e.target) && container.has(e.target).length === 0) {
                        e.preventDefault();
                        container.toggleClass("toggled");
                        $("body").toggleClass("navbar-active");
                    }
                });
            });
        }
    }, 1000);
</script>

<script type="text/javascript">
    adroll_adv_id = "QMQ32OAAFJGFJCQ3BZ2FGW";
    adroll_pix_id = "6C36FFKAWRHH5M6QMSBGXV";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>