<header class="base-header header--regular">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo"><a href="{{ site.baseurl }}/" title="{{ site.title }}"><img src="{{ '/assets/images/datafox-logo.png'  | prepend: site.baseurl | prepend: site.url }}" alt="DataFox" height="40"/></a></div>
      <div class="header__menu">
        <nav class="navbar main-nav">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".main-navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
          <div class="collapse main-navbar-collapse navbar-collapse">
            <div id="bs-example-navbar-collapse-1" class="collapse main-navbar-collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">

                {% for nav in site.nav %}

                  {% assign is_relative = nav[1][0] | slice: 0 %}
                  {% assign url = nav[1][0] %}

                  {% if is_relative == '/' %}
                  {% assign url = nav[1][0] | prepend: site.baseurl %}
                  {% endif %}

                  {% assign sub_len = nav[1] | size | minus: 1 %}

                  <li {% if sub_len > 0 %}class="dropdown"{% endif %}>
                    <a {% if url contains '://' %}{% unless url contains 'datafox.com' %}rel="nofollow" target="_blank"{% endunless %}{% endif %} {% if sub_len > 0 %}data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle {% if page.url == nav[1][0] %}active{% endif %}"{% else %}class="{% if page.url == nav[1][0] %}active{% endif %}"{% endif %} href="{{ url }}">
                      {{ nav[0] }} {% if sub_len > 0 %}<span class="mls fa fa-angle-down"></span>{% endif %}
                    </a>

                    <ul class="dropdown-menu">
                      <li><span class="title">{{ nav[0] }}</span></li>

                    {% for i in (1..sub_len) %}

                        {% for sub_nav in nav[1][i] %}
                            {% assign sub_is_relative = sub_nav[1] | slice: 0 %}
                            {% assign sub_url = sub_nav[1] %}
                            {% if sub_is_relative == '/' %}
                              {% assign sub_url = sub_nav[1] | prepend: site.baseurl %}
                            {% endif %}
                            <li>
                              <a {% if sub_url contains '://' %}{% unless sub_url contains 'datafox.com' %}target="_blank"{% endunless %}{% endif %} class="sidebar-nav-item sidebar-nav-item-sub {% if page.url == sub_nav[1] %}active{% endif %}" href="{{ sub_url }}">
                                {{ sub_nav[0] }}
                              </a>
                            </li>
                        {% endfor %}

                    {% endfor %}

                    </ul>

                  </li>

                {% endfor %}

                {% if site.nav_cta.first.title && site.nav_cta.first.link %}
                <li class="hidden-sm"><a href="{{ site.nav_cta.first.link }}" class="login">{{ site.nav_cta.first.title }}</a></li>
                {% endif %}

                {% if site.nav_cta.second.title && site.nav_cta.second.link %}
                <li><a href="{{ site.nav_cta.second.link }}" target="_blank" class="js-signup signup trial-btn">{{ site.nav_cta.second.title }}</a></li>
                {% endif %}


              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>