
<nav class="main-nav navbar navbar-default navbar-fixed-top page-top-navbar">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" id="menu-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/" title="{{ site.title }}">
        <img class="datafox-brand" src="{{ '/assets/images/datafox-dark.svg' | prepend: site.baseurl | prepend: site.url }}" alt="DataFox Logo">
      </a>
    </div>
    <div id="desktop-menu-bar">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tech Blog</a>
          <ul class="dropdown-menu tech-blog">
            <li class="float-left">
              <ul class="list-unstyled">
                <li>
                  <span class="title">Categories</span>
                </li>
                <li>
                  <a href="{{ '/categories/#' | prepend: site.baseurl }}">All Categories</a>
                </li>
                <li>
                  <a href="{{ '/categories/#nodejs' | prepend: site.baseurl }}">NodeJS</a>
                </li>
                <li>
                  <a href="{{ '/categories/#engineering' | prepend: site.baseurl }}">Engineering</a>
                </li>
                <li>
                  <a href="{{ '/categories/#engineering-culture' | prepend: site.baseurl }}">Engineering Culture</a>
                </li>
              </ul>
            </li>
            <li class="float-right">
              <ul class="list-unstyled">
                <li>
                  <span class="title">GitHub</span>
                </li>
                <li>
                  <a href="https://github.com/datafoxco" rel="me">Open Source</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solutions</a>
          <ul class="dropdown-menu solutions">
            <li class="float-left">
              <ul class="list-unstyled">
                <li>
                  <span class="title">By Benefit</span>
                </li>
                <li>
                  <a href="https://www.datafox.com/solutions/data-foundations/">Upgrade Your CRM Data</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/solutions/prioritize-your-accounts/">Prioritize Your Accounts</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/solutions/account-orchestration/">Find More Best-Fit Accounts</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/solutions/design-data-driven-territories/">Design Data-Driven Territories</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/customers/sales-reps/">Eliminate Account Research</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/product/company-signals/">Monitor Your Target Companies</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/solutions/workflow-orchestration/">Automate Prospecting Tasks</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/customers/event-marketing/">Maximize Conference ROI</a>
                </li>
              </ul>
            </li>
            <li class="float-right">
              <ul class="list-unstyled">
                <li>
                  <span class="title">Sales &amp; Marketing</span>
                </li>
                <li>
                  <a href="https://www.datafox.com/customers/sales-operations/">Sales Operations</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/customers/sales-managers/">Sales Leadership</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/customers/marketing/">Marketing</a>
                </li>
                <li class="ptl">
                  <span class="title">Finance Deal Engine</span>
                </li>
                <li>
                  <a href="https://www.datafox.com/customers/private-equity/">Private Equity</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/customers/investment-banking/">Investment Banking</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
          <ul class="dropdown-menu product">
            <li class="float-left">
              <ul class="list-unstyled">
                <li>
                  <span class="title">Applications</span>
                </li>
                <li>
                  <a href="https://www.datafox.com/product/company-intelligence/">Base Intelligence Platform</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/product/account-scoring/">Account Scoring</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/product/inbound-iq/">Inbound IQ</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/customers/private-equity/">Finance Deal Engine</a>
                </li>
                <li class="ptl">
                  <span class="title">CRM Data Management</span>
                </li>
                <li>
                  <a href="https://www.datafox.com/product/account-data-management/">Account Data For Accounts</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/product/lead-enrichment/">Account Data For Leads</a>
                </li>
                <li class="ptl">
                  <span class="title">Data Sets</span>
                </li>
                <li>
                  <a href="https://www.datafox.com/product/conference-intelligence/">Conferences &amp; Award Lists</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/product/technographics/">Technographics</a>
                </li>
              </ul>
            </li>
            <li class="float-right">
              <ul class="list-unstyled">
                <li>
                  <span class="title">Integrations</span>
                </li>
                <li>
                  <a href="https://www.datafox.com/integrations/salesforce/">Salesforce</a>
                </li>
                <li class="pll">
                  <a href="https://www.datafox.com/integrations/salesforce/orchestrate/">Orchestrate</a>
                </li>
                <li class="pll">
                  <a href="https://www.datafox.com/integrations/salesforce/enrich/">Enrich</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/integrations/marketo/">Marketo</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/integrations/slack/">Slack</a>
                </li>
                <li>
                  <a href="https://www.datafox.com/integrations/chrome/">Chrome</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">APIs</a>
          <ul class="dropdown-menu api">
            <li>
              <span class="title">APIs</span>
            </li>
            <li>
              <a href="https://www.datafox.com/integrations/api/">Overview</a>
            </li>
            <li>
              <a href="https://www.datafox.com/integrations/api/company-firmographics/">Firmographics</a>
            </li>
            <li>
              <a href="https://www.datafox.com/integrations/api/company-signals/">Signals</a>
            </li>
            <li>
              <a href="https://www.datafox.com/integrations/api/conferences/">Conferences</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="https://www.datafox.com/product/pricing/">Pricing</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right show-on-scroll">
        <li>
          <a class="login mdl-js-button mdl-js-ripple-effect" href="https://app.datafox.com/login?utm_source=eng_blog&utm_medium=log_in&utm_term=18Q1">LOG IN</a>
        </li>
        <li>
          <a class="login trial-btn mdl-js-button mdl-js-ripple-effect"  href="https://www.datafox.com/signup/?utm_source=eng_blog&utm_medium=request_demo&utm_term=18Q1">REQUEST DEMO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--sidebar-menu-->
<div id="mobile-menu-wrapper">
  <div id="sidebar-wrapper">

    <ul class="sidebar-wrapper__menu">

      {% for nav in site.nav %}

      {% assign sub_len = nav[1] | size | minus: 1 %}

      <li>
        <ul class="sidebar-wrapper__menu__sub">

          <li>
            <span class="title">{{ nav[0] }}</span>
          </li>

          {% for i in (0..sub_len) %}

            {% for sub_nav in nav[1][i] %}

              <li>
                <a class="js-mobile-menu__link" {% if sub_url contains '://' %}{% unless sub_url contains 'datafox.com' %}target="_blank"{% endunless %}{% endif %} class="sidebar-nav-item sidebar-nav-item-sub {% if page.url == sub_nav[1] %}active{% endif %}" href="{{ sub_nav[1] }}">
                {{ sub_nav[0] }}
                </a>
              </li>

            {% endfor %}

          {% endfor %}

        </ul>
      </li>

      {% endfor %}

      <li class="phl">
        <a class="js-mobile-menu__link login trial-btn mdl-js-button mdl-js-ripple-effect"  href="https://www.datafox.com/signup/?utm_source=eng_blog&utm_medium=request_demo&utm_term=18Q1">REQUEST DEMO</a>
        <a class="js-mobile-menu__link login mdl-js-button mdl-js-ripple-effect" href="https://app.datafox.com/login?utm_source=eng_blog&utm_medium=log_in&utm_term=18Q1">LOG IN</a>
      </li>

    </ul>

  </div>
</div>
