/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }


html {
  background: $df_color--black;
}

html,
body {
  font-size: 14px;
  @media (min-width: $md) {
    font-size: 16px;
  }
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}


body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}


