/**
 * Footer
 */
footer{
  &.base-footer {
    position: relative;
    z-index: 10;
    background: $df_color--black;
    .container-footer {
      padding-bottom: 0;
      .footer__logo {
        width: rem(100px);
      }
      color: $df_color--white-off;
      a {
        color: $df_color--white-off !important;
        border-color: $df_color--white-off !important;
      }
      .title {
        text-transform: uppercase;
        color: $df_color--white !important;

      }
    }
    .copy {
      margin-top: 20px;
      color: $df_color--white-off;
      a {
        color: $df_color--white-off !important;
        border-color: $df_color--white-off !important;
      }
      .social-link {
        @include transit();
        &:hover {
          opacity: .5;
          @include transit();
        }
      }
    }
  }
}

// OLD STYLE

footer{
  &.base-footer {
    .container{
      //padding-bottom: rem(45px);
      //padding-top: rem(45px);
    }

    span.title {
      font-weight: 700;
      font-size: 15px;
      line-height: 1.7;
    }
    ul.list-unstyled {
      li {
        padding: 0;
        font-size: 15px;
        line-height: 1.7;
        //font-weight: 300;
        &:before {
          content: "";
          display: none;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

footer.base-footer {
  position: relative;
  z-index: 10;
  background-color: df_color--black;
  color: $df_color--white;
  line-height: 1.7;
  padding-top: 40px;
  padding-bottom: 20px;

  hr {
    border-top: 1px solid rgba(#F5FAFE, .4);
  }

  p,
  ul li {
    font-size: rem(15px);
  }

  a, a:hover {
    color: $df_color--white;
  }

  address {
    line-height: 1.7;
  }

  .datafox-brand, .datafox-brand-mobile {
    //height: 50px;
    width: 100px;
  }

  .title {
    font-weight: bold;
    text-transform: uppercase;
  }
  .smaller {
    opacity: .5;
  }
}
