
// first section after hero/subnav
.section-header {
  padding: rem(100px) 0 rem(40px);
  text-align: left;
  background: darken($df_bg--blue-light,3%);

}

#particles-js {
  position: relative;
  user-select: none;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    background-size: 100% auto;
    background-repeat: repeat-x;
    background-image: url(/assets/img/bg/gradient-repeat.jpg);
    z-index: -1;
  }
}

body.homepage.page-homepage{
  .particles-js {
    min-height: 550px;
    height: 100%;
    height: 75vh;
    max-height: 550px;

    @media (min-width: 600px) {
      max-height: 450px;
      min-height: 700px;
    }

    .container-hero {
      @media (min-width: 600px) {
        display: table;
      }
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .container-hero__inner {
        width: 100%;

        @media (max-width: 599px) {
          padding-top: $navbar-size;
        }
        @media (min-width: 600px) {

          display: table-cell;
          vertical-align: middle;
        }

        h1{
          color: white;
          font-weight: 300;
          line-height: 1.4;
          margin-top: 25px;

          @media (max-width: 600px) {
            //font-size: 25px;
            font-size: rem(37px);
            line-height: rem(39px);
          }
        }
        h4{
          color: $color--link-water;
          margin: 36px auto 29px;
          line-height: 1.667;
        }
      }
      .container-hero__bottom {
        overflow: hidden;
        width: 100%;
        height: 81px;
        display: table-cell;
        vertical-align: bottom;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        @media (max-width: 600px) {
          height: 71px;

          img {
            height: 20px;
          }

        }
        @media (max-width: 359px) {
          display: none;
        }
        .pal {
          padding: 25px 30px !important;
        }
      }

    }
  }
}

section.section-hero {

  &.section-md{
    position: relative;
    padding-bottom: rem(90px);
    .container-hero {
      .col-md-12 {
        position: unset;
      }
      .container-hero__inner {
        width: 100%;
        > .container {
          max-width: 100% !important;
          padding: 0 !important;
          width: 100% !important;
        }

        h1 {
          margin-top: 25px;
        }
        h4 {
          margin: 36px auto 29px;
          line-height: 1.667;
        }
      }
      .container-hero__bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        height: 81px;
        @media (max-width: 600px) {
          height: 71px;

          img {
            height: 20px;
          }

        }
      }
    }
  }

  &.section-hero {
    padding-bottom: rem(16px);
    min-height: 250px;
    @media (min-width: $md) {
      padding-bottom: rem(20px);
      min-height: 300px;
    }
  }
}
