
/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}




.muted {
  font-size: 12px;
  color: #818181;
}

.nowrap {
  white-space: nowrap;
}



// floating
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.titanic,
.float-none {
  float: none;
}