.tags-expo {
  .tags-expo-list {

  }
  .tags-expo-section {
    h2 {
      padding-top: 111px;
      margin-top: -81px;
    }
  }
}

.tag-list {
  li + li {
    &:after {
      content: ",";
    }
  }
  li {
    &:nth-of-type(1),
    &:nth-last-of-type(1) {
      &:after {
        content: "";
      }
    }
  }
}