
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

a         {
  color: $df_color--blue;
  text-decoration: none;
  @include transit();
  &:visited {
    color: $df_color--blue;
    @include transit();
  }
  &:hover,
  &:focus {
    color: darken($df_color--blue, 5%);
    text-decoration: underline;
    @include transit();
  }

}

ul {
  &.list-none {
    list-style: none;
  }
  &.list-inline {
    li {
      display: inline-block;
    }
  }
  &.fleft {
    float: left;
  }
}

// Typography helpers
body {

  h1, .h1 {
    font-size: rem(52px);
    line-height: rem(64px);
    font-weight: 300;
    @media (max-width: $sm) {
      font-size: rem(37px);
      line-height: rem(39px);
    }
  }

  h2, .h2 {
    font-size: rem(24px);
    line-height: rem(32px);
    font-weight: 500;
  }
  h2.h1 {
    margin-bottom: 18.5px;
  }

  h3, .h3 {
    font-size: rem(18px);
    line-height: rem(30px);
    font-weight: 700;

    &.datafox-blue {
      color: $df_color--blue;
    }
  }

  h4, .h4 {
    font-size: rem(18px);
    line-height: rem(30px);
    font-weight: 400;
  }

  h5, .h5 {
    font-size: rem(15px);
    font-weight: 700;
  }

  h6, .h6 {
    font-size: rem(15px);
    font-weight: 400;
  }

  ol li,
  ul li,
  p, .p {
    &.smallest {
      font-size: rem(12px);
    }
    &.smaller {
      font-size: rem(14px);
    }
    &.small {
      font-size: rem(16px);
    }
    // normal
    font-size: rem(18px);
    line-height: 1.667;
    &.large {
      font-size: rem(20px);
    }
    &.larger {
      font-size: rem(22px);
    }
    &.largest {
      font-size: rem(24px);
    }

    // new specific sizes
    &.font-size--15 {
      font-size: rem(15px);
    }
    &.font-size--21 {
      font-size: rem(21px);
    }

  }

  .text-light {
    font-weight: 300 !important;
  }
  .text-regular {
    font-weight: 400 !important;
  }
  .text-medium {
    font-weight: 500 !important;
  }
  .text-semibold {
    font-weight: 600 !important;
  }
  .text-bold {
    font-weight: 700 !important;
  }


  .drop-shadow {
    filter: drop-shadow(0px 2px 3px rgba($df_color--black-base,.15));
  }

}
