
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

a         {
  color: $df_color--blue;
  text-decoration: none;
  @include transit();
  &:visited {
    color: $df_color--blue;
    @include transit();
  }
  &:hover,
  &:focus {
    color: darken($df_color--blue, 5%);
    text-decoration: underline;
    @include transit();
  }

}

ul {
  &.list-none {
    list-style: none;
  }
  &.list-inline {
    li {
      display: inline-block;
    }
  }
  &.fleft {
    float: left;
  }
}

// Typography helpers
body {

  h1, .h1 {
    font-size: rem(42px);
  }

  h2, .h2 {
    font-size: rem(30px);
  }

  h3, .h3 {
    font-size: rem(24px);
    &.datafox-blue {
      color: $df_color--blue;
    }
  }

  h4, .h4 {
    font-size: rem(20px);
  }

  h5, .h5 {
    font-size: rem(18px);
  }

  h6, .h6 {
    font-size: rem(16px);
  }

  ul li,
  p, .p {
    &.smallest {
      font-size: rem(12px);
    }
    &.smaller {
      font-size: rem(14px);
    }
    &.small {
      font-size: rem(16px);
    }
    // normal
    font-size: rem(18px);

    &.large {
      font-size: rem(20px);
    }
    &.larger {
      font-size: rem(22px);
    }
    &.largest {
      font-size: rem(24px);
    }
  }

  .text-light {
    font-weight: 300 !important;
  }
  .text-regular {
    font-weight: 400 !important;
  }
  .text-medium {
    font-weight: 500 !important;
  }
  .text-semibold {
    font-weight: 600 !important;
  }
  .text-bold {
    font-weight: 700 !important;
  }

}
